@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lobster');
img {
    width: 200px;
    
}
body {
     text-align: center;
     font-family: 'Indie Flower';
     color: black;
     background-image: url(https://cdn6.bigcommerce.com/s-9sf3i6p/product_images/uploaded_images/galaxy.jpg?t=1457808323);
    
}