@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lobster');
img {
    width: 200px;
    
}
body {
     text-align: center;
     font-family: 'Indie Flower';
     color: black;
     background-image: <link href= holo its me.v2.jpeg>;
    
}